.git
.gitignore
.git/
*.md
*.db
.envrc
.env
.DS_Store
node_modules
vendor
.cache
dist
thumbcache
data.db
static
web/src
web/index.html
web/tsconfig.json
web/vite.config.ts
web/package.json
web/pnpm-lock.yaml
go.mod
go.sum
Dockerfile
.dockerignore
